@charset "utf-8";
.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}


.rb-grid li {
	width: 18em;
	height: 13.32em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor:pointer;
	position: relative;
}
.rb-grid li:nth-child(1) { background: #3366FF;background-image:url(../tiles/msrit.png); background-size:contain;background-position:center; background-repeat:no-repeat;opacity:0.8 }
.rb-grid li:nth-child(2) { background: #AC5930;background-image:url(../tiles/literary.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(3) { background: #996699;background-image:url(../tiles/music.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(4) { background: #fcd500;background-image:url(../tiles/food.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(5) { background: #1f1f14;background-image:url(../tiles/gaming2.png); background-size:contain;background-position:center; background-repeat:no-repeat;opacity:0.8 }
.rb-grid li:nth-child(6) { background: #3030ff;background-image:url(../tiles/scitech.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(7) { background: #300245;background-image:url(../tiles/horoscopes.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(8) { background: #f50707;background-image:url(../tiles/art2.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(9) { background: #7b7c75;background-image:url(../tiles/comic.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(10) { background: #089612;background-image:url(../tiles/sports.png); background-size:contain;background-position:center; background-repeat:no-repeat;opacity:0.8 }
.rb-grid li:nth-child(11) { background: #ff9600;background-image:url(../tiles/popcul.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li:nth-child(12) { background: #FF6CB5;background-image:url(../tiles/freeadv.png); background-size:contain;background-position:center; background-repeat:no-repeat; opacity:0.8}
.rb-grid li p {
	font-size:.8em;
	color:#FFFFFF;
}
.view {
   width: 18em;
   height: 13.32em;
   margin: 10px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background-image:url(tiles/msrit.png); background-size:contain;background-position:center; background-repeat:no-repeat;
}
.view .mask,.view .content {
   width: 18em;
   height: 13.32em;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   opacity:1;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 0 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   background-color: rgba(146,96,91,0.3);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   background: rgba(255, 255, 255, 0.5);
   color: #000;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #333;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
@media screen and (max-width: 800px) { 
.rb-grid li {
	width: 15em;
	height: 10em;
}
}		
@media screen and (max-width: 600px) { 
.rb-grid li {
	width: 12em;
	height: 18em;
}
}
@media screen and (max-width: 500px) { 
.rb-grid li {
	width: 8em;
	height: 6em;
}
}